<div class="master-banner" style="background-image: url(<%= image_path "banner-cosmicboat.png" %>); background-size: cover;">
  <div class="container text-center">
      <%= link_to "🛒Merch🎁", "https://thecosmicboat.bandcamp.com/merch", class:"btn btn-success px-5", target:"_blank"  %>
      <%= link_to "🥁Music🎧", "https://thecosmicboat.bandcamp.com/music", class:"btn btn-primary px-5", target:"_blank"  %>
      <br>
  </div>
</div>

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 py-2 bg-white">
        <p class="text-justify"><b>Sandy Hui Bon Hoa</b>, de nom d'artiste <b><%= link_to "Sandy Mango", "https://www.facebook.com/sandymangoart/", target:"_blank" %></b>, grande voyageuse est une <b>artiste indépendante</b> française, <b>multi-instrumentiste</b> et développeuse de <b>projets artistiques et humanitaires</b> avec son association <b><%= link_to "The Cosmic Boat", "https://www.facebook.com/TheCosmicBoat", target:"_blank" %></b>.</p>


        <p class="text-justify"><b>Depuis 2012</b>, elle parcourt le monde en partageant ses <b>oeuvres d’art</b> et en transmettant les outils d’expression artistique auprès d’un <b>public diversifié</b>, au travers de <b>Concerts, Voyage Sonore, Ateliers, Soins, Conférences, Expositions...</b></p>
      </div>
      <div class="col-12 col-lg-6 py-2 bg-white">
        <p class="text-justify">Elle a l'opportunité de participer à plusieurs <b>projets humanitaires et de volontariat social</b>, lui permettant d'élargir ses <b>perceptions</b> et de s'ouvrir à une dimension plus <b>authentique des relations humaines.</b></p>

        <p class="text-justify">Ses oeuvres sont inspirées par <b>la nature, ses voyages et les rencontres de la vie.</b></p>
      </div>
    </div>
  </div>
</div>

<div class="secondary-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "banner-photo.jpg" %>); background-attachment: fixed; background-size: cover;">
  <div class="container container-home text-center">
  </div>
</div>

<%= render 'shared/categories' %>

<div class="py-5 container-home text-center">

    <h2>Quelques uns de mes Albums</h2>

    <div class="cards">
      <div class="row justify-content-center">
        <% @albums.each do |album| %>
          <div class="col-12 col-sm-6 col-lg-3 py-2">
            <% @item = album %>
            <%= link_to @item.cart_path, target:"_blank" do  %>
              <%= render 'shared/card-tile' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

</div>

<%= render 'shared/contact' %>

<%= render 'shared/master-footer' %>




