<div class="master-banner">
  <div class="container text-center">
      The Cosmic Boat
      <br><%= link_to "Click here", "", class:"btn btn-success px-5"  %>
  </div>
</div>

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 py-2 bg-white">
        <p>Née d’un premier album Sandy Mango & The Cosmic Boat sorti en octobre 2017, avec la collaboration de 23 amis rencontré en voyage. The Cosmic Boat devient une association en juin 2018. Cette association a pour but de mettre l’art au service de cause humaine, part le biais de concert, d’atelier créatif, d’exposition ou encore de création d’album participatif.</p>

        <p>Sandy Mango artiste française d’origine Taïwanaise et Vietnamienne, professeur et thérapeute est à l’initiative de ce projet associatif et artistique. Elle compose, écrit et joue de plusieurs instruments. Ses oeuvres sont inspirés de ses voyages et séjours en nature.</p>

        <p>Et avec l'aide de son meilleur ami Little Pablo, producteur et multi-instrumentiste. Leurs créations collectives est teintées d'influences venues du monde entier et traduisent la richesse de l'univers poétique du Bateau Cosmique.</p>

        <p>Créations artistiques disponible sur : <%= link_to "www.thecosmicboat.bandcamp.com","www.thecosmicboat.bandcamp.com"  %>
      </div>
      <div class="col-12 col-lg-6 py-2 bg-white">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, repellat aspernatur quidem accusantium, eveniet excepturi error facilis adipisci, quis, aperiam unde corporis laudantium ipsa dolorem dignissimos provident molestias esse culpa!</div>
        <div>Dolorum maxime, ad nobis, laudantium dicta ipsam temporibus doloribus quo harum beatae optio ea molestias neque cumque dolor nihil. Ipsa vero, expedita in similique earum impedit quisquam esse quos incidunt.</div>
        <div>In asperiores adipisci, aperiam cum eveniet expedita ratione sunt perspiciatis, repellendus illo corporis sapiente eos facere magni voluptatum quae illum consequuntur porro minus officia optio eligendi tempora qui voluptas! Unde.</div>
        <div>Dolores sapiente suscipit ea velit dignissimos deleniti, doloremque, at voluptates neque molestiae, iste recusandae placeat. Officia, molestias facere tenetur itaque numquam delectus ipsa, incidunt, consequatur, sint voluptatum adipisci ut. Consequuntur?</div>
      </div>
    </div>
  </div>
</div>

<div class="secondary-banner">
  <div class="container container-home text-center">
    <h2> Want to work with us?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit architecto rerum vitae laboriosam illo soluta, amet maiores fugiat qui animi natus corporis adipisci, impedit non labore quas! Odio, hic, sint!</p>
    <%= link_to "Click here", "", class:"btn btn-success"  %>
  </div>
</div>

<div style="background-color: white" class="py-5">
  <div class="container container-home text-center">
    <h2> Beautiful. Clean. Responsive.</h2>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-3">
          <div class="asset">
            <div class="asset-img">
              <i class="far fa-heart"></i>
            </div>
            <div class="asset-text">
              <h2>Passion</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <div class="asset">
            <div class="asset-img">
              <i class="far fa-lightbulb"></i>
            </div>
            <div class="asset-text">
              <h2>Creativity</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <div class="asset">
            <div class="asset-img">
              <i class="far fa-star"></i>
            </div>
            <div class="asset-text">
             <h2>Quality</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="py-5">
  <div class="container container-home text-center">
    <h2> Check out our latest works</h2>
    <div class="cards">
      <%= render "shared/card" %>
      <!-- <%= render "shared/card" %> -->
      <%= render "shared/card" %>
    </div>
  </div>
</div>

<div style="background-color: white" class="py-5">
  <div class="container container-home text-center">
    <h2> Want to work with us?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit architecto rerum vitae laboriosam illo soluta, amet maiores fugiat qui animi natus corporis adipisci, impedit non labore quas! Odio, hic, sint!</p>
    <%= link_to "Click here", "", class:"btn btn-success"  %>
  </div>
</div>

<div style="background-color: #2B4155" class="py-5">
  <div class="container container-home">
    <div class="row justify-content-center">
      <div class="col-6 col-lg-3 py-2 text-white">
        <h2>WHO WE ARE</h2>
      </div>
      <div class="col-6 col-lg-3 py-2 text-white">
        <h2>LATEST WORKS</h2>
      </div>
      <div class="col-6 col-lg-3 py-2 text-white">
        <h2>GET IN TOUCH</h2>
      </div>
      <div class="col-6 col-lg-3 py-2 text-white">
        <h2>FREE UPDATES</h2>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Email" aria-label="Email">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Update me!</button>
        </form>
      </div>
    </div>
  </div>
</div>
